/target
*.tree64
*.gltf
*.bin
*.dds
*.fbx
*.pyscene
*.tga
*.TGA
*.blend
*.hdr
/models
/sorting
/experiments
perf.data*
/.ninja_log
*.slang-module
*.rdc
*.cap
FidelityFX-SDK
smaa
samplerBlueNoiseErrors2019_paper.pdf
*.ppm
Falcor
*.exr
JungleRuins
compressonatorcli*
logs
noise
*.antc
*.blend1
*.jpg
.vs
export
